{#- OZI 0.1
# ozi/templates/github_workflows/ozi.yml.j2
# SPDX-License-Identifier: Unlicense
-#}

include:
  - component: 'gitlab.com/ozi-project/pipeline/checkpoint@{{ spec.version }}'
  - component: 'gitlab.com/ozi-project/pipeline/release@{{ spec.version }}'
  - component: 'gitlab.com/ozi-project/pipeline/publish@{{ spec.version }}'