{#- OZI 0.1
# ozi/templates/project.name/new_ext.py.j2
# SPDX-License-Identifier: CC0-1.0
-#}
{%- for line in project.copyright_head.split('\n') %}
{{ '# ' ~ line }}
{%- endfor %}
{%- if user_template %}
{% extends user_template %}
{%- endif %}

