{#-
# ozi/templates/tests/meson.build.j2
# SPDX-License-Identifier: Unlicense
-#}
[wrap-git]
url = https://github.com/rjdbcm/ozi.git
revision = head
depth = 1

[provide]
dependency_names = ozi-{{ spec.version }}
