{#- OZI 0.3
# ozi/templates/README.j2
# SPDX-License-Identifier: Unlicense
-#}
{%- if project.long_description_content_type == 'rst' %}
{% include 'README.rst' %}
{%- elif project.long_description_content_type == 'md' %}
{% include 'README.md' %}
{%- elif project.long_description_content_type == 'txt' %}
{% include 'README.txt' %}
{% endif %}